# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=4d11d1f7-8363-4c50-9273-309b74c1cdd7

    # Set to true to disable all reporting
    B:opt-out=false
}


