# Configuration file

client {
    # The ID of the texture map that SpACore assigns
    I:textureMapId=-1337
}


common {
    # Enable seasonal easter eggs
    B:enableSeasonals=true
}


sync {
    # The refresh-rate used for syncing objects between server and client. A higher refresh-rate will decrease bandwidth and CPU usage, but will also cause objects to appear to lag
    I:refreshRate=5
}


tweaks {
    # Should the ingame 'Mod Options' button be replaced with a 'Mods' button that actually works?
    B:replaceModOptions=true
}


