# Configuration file

blacklist {
    S:"ModId Blacklist" <
        tconstruct
        test
     >
}


client {
    # Should show the Flux Bar. [default: true]
    B:fluxBar=false

    # Should show the Mana Bar. [default: true]
    B:manaBar=false
}


general {
    B:fluxTools=true
}


